* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


h1 {
  font-size: 45px;
  color: aliceblue;
  font-weight: 600;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

header {
  background-color: #026aa7;
  padding: 4px 10%;
  text-align: center;
}

.app {
  background: url(../src/images/mountain.jpg);
  background-repeat: no-repeat;
  height: 100vh;
}